---
layout: layouts/base.njk
title: SOUTH - MOUNTAINS
metaImage: /images/photography/south-mountains/47.jpg
pageStyle:
  - /styles/unite-gallery.css
pageScript:
  - /scripts/unitegallery.min.js
  - /scripts/ug-theme-tiles.js
---
<div class="container-fluid px-4 pb-4">
  <h2><span class="l-south"></span> - <span class="l-south-mountains"></span></h2>
  <p class="lead font-italic text-uppercase l-south-mountains-desc"></p>
  <div id="gallery" data-category="south-mountains" data-thumbnails="true" style="display:none;"></div>
</div>
