---
layout: layouts/base.njk
title: CONTACT
metaImage: /images/face.jpg
---
<div class="container px-4 pb-4">
  <h2 class="mb-3"><span class="l-contact"></span></h2>
  <div class="media my-5 align-items-center">
    <img class="d-flex mr-3 avatar" src="/images/face.jpg">
    <div class="media-body">
      <p class="lead">
        <span class="l-contact-desc"></span> — <a href="mailto:{{ siteData.email }}" target="_top">{{ siteData.email }}</a>
      </p>
    </div>
  </div>
</div>
